/* blue */

.alert-blue {
   color: $blue-800;
   background-color: $blue-050;
   border-color: $blue-100;
}

.alert-blue .alert-link {
   color: $blue-800;
}

.alert-blue .alert-link:hover {
   color: $blue-900;
   background-color: $blue-100;
}

a[class*="text-blue"]:hover {
   background-color: $blue-050;
   color: $blue-800 !important;
}

a.btn[class*="text-blue"]:hover {
   background-color: $blue-200;
   color: $color-contrast-dark !important;
}

/* teal */

.alert-teal {
   color: $teal-800;
   background-color: $teal-050;
   border-color: $teal-100;
}

.alert-teal .alert-link {
   color: $teal-800;
}

.alert-teal .alert-link:hover {
   color: $teal-900;
   background-color: $teal-100;
}

a[class*="text-teal"]:hover {
   background-color: $teal-050;
   color: $teal-800 !important;
}

a.btn[class*="text-teal"]:hover {
   background-color: $teal-200;
   color: $color-contrast-dark !important;
}

/* green */

.alert-green {
   color: $green-800;
   background-color: $green-050;
   border-color: $green-100;
}

.alert-green .alert-link {
   color: $green-800;
}

.alert-green .alert-link:hover {
   color: $green-900;
   background-color: $green-100;
}

a[class*="text-green"]:hover {
   background-color: $green-050;
   color: $green-800 !important;
}

a.btn[class*="text-green"]:hover {
   background-color: $green-200;
   color: $color-contrast-dark !important;
}

/* yellow */

.alert-yellow {
   color: $yellow-800;
   background-color: $yellow-050;
   border-color: $yellow-100;
}

.alert-yellow .alert-link {
   color: $yellow-800;
}

.alert-yellow .alert-link:hover {
   color: $yellow-900;
   background-color: $yellow-100;
}

a[class*="text-yellow"]:hover {
   background-color: $yellow-050;
   color: $yellow-800 !important;
}

a.btn[class*="text-yellow"]:hover {
   background-color: $yellow-200;
   color: $color-contrast-dark !important;
}

/* orange */

.alert-orange {
   color: $orange-800;
   background-color: $orange-050;
   border-color: $orange-100;
}

.alert-orange .alert-link {
   color: $orange-800;
}

.alert-orange .alert-link:hover {
   color: $orange-900;
   background-color: $orange-100;
}

a[class*="text-orange"]:hover {
   background-color: $orange-050;
   color: $orange-800 !important;
}

a.btn[class*="text-orange"]:hover {
   background-color: $orange-200;
   color: $color-contrast-dark !important;
}

/* red */

.alert-red {
   color: $red-800;
   background-color: $red-050;
   border-color: $red-100;
}

.alert-red .alert-link {
   color: $red-800;
}

.alert-red .alert-link:hover {
   color: $red-900;
   background-color: $red-100;
}

a[class*="text-red"]:hover {
   background-color: $red-050;
   color: $red-800 !important;
}

a.btn[class*="text-red"]:hover {
   background-color: $red-200;
   color: $color-contrast-dark !important;
}

/* magenta */

.alert-magenta {
   color: $magenta-800;
   background-color: $magenta-050;
   border-color: $magenta-100;
}

.alert-magenta .alert-link {
   color: $magenta-800;
}

.alert-magenta .alert-link:hover {
   color: $magenta-900;
   background-color: $magenta-100;
}

a[class*="text-magenta"]:hover {
   background-color: $magenta-050;
   color: $magenta-800 !important;
}

a.btn[class*="text-magenta"]:hover {
   background-color: $magenta-200;
   color: $color-contrast-dark !important;
}

/* gray */

.alert-gray {
   color: $gray-800;
   background-color: $gray-050;
   border-color: $gray-100;
}

.alert-gray .alert-link {
   color: $gray-800;
}

.alert-gray .alert-link:hover {
   color: $gray-900;
   background-color: $gray-100;
}

a[class*="text-gray"]:hover {
   background-color: $gray-050;
   color: $gray-800 !important;
}

a.btn[class*="text-gray"]:hover {
   background-color: $gray-200;
   color: $color-contrast-dark !important;
}
