// 1. Colors

// 1.1 Grays

$gray-050: #e6e6e6;
$gray-100: #cdcdce;
$gray-200: #b4b4b5;
$gray-300: #9b9c9c;
$gray-400: #818383;
$gray-500: #686a6b;
$gray-600: #4f5152;
$gray-700: #363839;
$gray-800: #202222;
$gray-900: #0b0b0b;

$grays: (
   "050": $gray-050,
   "100": $gray-100,
   "200": $gray-200,
   "300": $gray-300,
   "400": $gray-400,
   "500": $gray-500,
   "600": $gray-600,
   "700": $gray-700,
   "800": $gray-800,
   "900": $gray-900,
);

// 1.2 Hues

$blue-050: #e0e7fc;
$blue-100: #a6ceff;
$blue-200: #75b2ff;
$blue-300: #61a1ff;
$blue-400: #4089ff;
$blue-500: #176bff;
$blue-600: #0056ef;
$blue-700: #0742e8;
$blue-800: #002587;
$blue-900: #000d2b;

$teal-050: #ccf1fa;
$teal-100: #6ee1f4;
$teal-200: #00b8e5;
$teal-300: #00a2ce;
$teal-400: #008aaf;
$teal-500: #00708e;
$teal-600: #005366;
$teal-700: #003847;
$teal-800: #00232d;
$teal-900: #001319;

$green-050: #d7ffe1;
$green-100: #71db8f;
$green-200: #2bb357;
$green-300: #13a53c;
$green-400: #159333;
$green-500: #0f7a2d;
$green-600: #0a561c;
$green-700: #003f12;
$green-800: #00280a;
$green-900: #001403;

$yellow-050: #fff8d4;
$yellow-100: #ffee76;
$yellow-200: #ffde28;
$yellow-300: #efc40b;
$yellow-400: #d8b316;
$yellow-500: #af8800;
$yellow-600: #8a6610;
$yellow-700: #664607;
$yellow-800: #3f2700;
$yellow-900: #1e1100;

$orange-050: #ffe7d9;
$orange-100: #ff9e52;
$orange-200: #ff670e;
$orange-300: #f14c00;
$orange-400: #da3a00;
$orange-500: #c13500;
$orange-600: #8c2600;
$orange-700: #6d1b00;
$orange-800: #411000;
$orange-900: #190700;

$red-050: #ffe3e9;
$red-100: #ffb8c9;
$red-200: #ff929f;
$red-300: #ef6a7e;
$red-400: #e24d66;
$red-500: #d63048;
$red-600: #ce1d37;
$red-700: #b21018;
$red-800: #780008;
$red-900: #280004;

// $pink-050: #ffe6fa;
// $pink-100: #f7b7e4;
// $pink-200: #ed96d2;
// $pink-300: #e274c0;
// $pink-400: #d855b0;
// $pink-500: #d134a1;
// $pink-600: #c1178d;
// $pink-700: #ab006e;
// $pink-800: #6d004c;
// $pink-900: #230018;

$magenta-050: #f3dcff;
$magenta-100: #edb6ff;
$magenta-200: #e397ff;
$magenta-300: #cf7bef;
$magenta-400: #c45bef;
$magenta-500: #b03edb;
$magenta-600: #951fc1;
$magenta-700: #8900b3;
$magenta-800: #52006b;
$magenta-900: #1c0028;

// $purple-050: #e2e1ff;
// $purple-100: #c8c1ff;
// $purple-200: #adabff;
// $purple-300: #9290ff;
// $purple-400: #807dff;
// $purple-500: #6b62ff;
// $purple-600: #5942ff;
// $purple-700: #521fff;
// $purple-800: #340cad;
// $purple-900: #11003a;

// 1.3 Semantic colors

$blue: $blue-700;
$teal: $teal-200;
$green: $green-200;
$yellow: $yellow-200;
$orange: $orange-200;
$red: $red-700;
$magenta: $magenta-700;
$gray: $gray-700;
$white: #fff;
$black: #000;

$colors: (
   "blue": $blue,
   "teal": $teal,
   "green": $green,
   "yellow": $yellow,
   "orange": $orange,
   "red": $red,
   "magenta": $magenta,
   "gray": $gray,
   "white": $white,
   "black": $black,
);

// 1.4 Themes

$theme-colors: (
   "blue": $blue,
   "teal": $teal,
   "green": $green,
   "yellow": $yellow,
   "orange": $orange,
   "red": $red,
   "magenta": $magenta,
   "gray": $gray,
   "blue-200": $blue-200,
   "teal-200": $teal-200,
   "green-200": $green-200,
   "yellow-200": $yellow-200,
   "orange-200": $orange-200,
   "red-200": $red-200,
   "magenta-200": $magenta-200,
   "gray-200": $gray-200,
   "blue-700": $blue-700,
   "teal-700": $teal-700,
   "green-700": $green-700,
   "yellow-700": $yellow-700,
   "orange-700": $orange-700,
   "red-700": $red-700,
   "magenta-700": $magenta-700,
   "gray-700": $gray-700,
   "white": $white,
   "black": $black,
);

// 1.5 Contrast

$min-contrast-ratio: 4.5;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $black;
$color-contrast-light: $white;

// 2 Fonts

$font-weight-normal: 400;

// 3 Links

$link-hover-decoration: none;
$alert-link-font-weight: $font-weight-normal;

// 4 Alerts

// Note: these percentages are whack and we custom style alerts with CSS overrides
$alert-bg-scale: 100%;
$alert-border-scale: 100%;
$alert-color-scale: 100%;
