// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./customTheme.scss";

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 4a. Include any optional Bootstrap components as you like
// @import "../../node_modules/bootstrap/scss/root";
// @import "../../node_modules/bootstrap/scss/reboot";
// @import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
// @import "../../node_modules/bootstrap/scss/containers";
// @import "../../node_modules/bootstrap/scss/grid";

// 4b. Or include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

// 5. Add additional custom override styles here
@import "./overrides.scss";
