.alert-yellow {
   color: $yellow-800;
   background-color: $yellow-050;
   border-color: $yellow-100;
}

.alert-yellow .alert-link {
   color: $yellow-800;
}

.alert-yellow .alert-link:hover {
   color: $yellow-900;
}

.alert-blue {
   color: $blue-800;
   background-color: $blue-050;
   border-color: $blue-100;
}

.alert-blue .alert-link {
   color: $blue-800;
}

.alert-blue .alert-link:hover {
   color: $blue-900;
}

.alert-teal {
   color: $teal-800;
   background-color: $teal-050;
   border-color: $teal-100;
}

.alert-teal .alert-link {
   color: $teal-800;
}

.alert-teal .alert-link:hover {
   color: $teal-900;
}

.alert-green {
   color: $green-800;
   background-color: $green-050;
   border-color: $green-100;
}

.alert-green .alert-link {
   color: $green-800;
}

.alert-green .alert-link:hover {
   color: $green-900;
}

.alert-yellow {
   color: $yellow-800;
   background-color: $yellow-050;
   border-color: $yellow-100;
}

.alert-yellow .alert-link {
   color: $yellow-800;
}

.alert-yellow .alert-link:hover {
   color: $yellow-900;
}

.alert-orange {
   color: $orange-800;
   background-color: $orange-050;
   border-color: $orange-100;
}

.alert-orange .alert-link {
   color: $orange-800;
}

.alert-orange .alert-link:hover {
   color: $orange-900;
}

.alert-red {
   color: $red-800;
   background-color: $red-050;
   border-color: $red-100;
}

.alert-red .alert-link {
   color: $red-800;
}

.alert-red .alert-link:hover {
   color: $red-900;
}

.alert-purple {
   color: $purple-800;
   background-color: $purple-050;
   border-color: $purple-100;
}

.alert-purple .alert-link {
   color: $purple-800;
}

.alert-purple .alert-link:hover {
   color: $purple-900;
}

.alert-gray {
   color: $gray-800;
   background-color: $gray-050;
   border-color: $gray-100;
}

.alert-gray .alert-link {
   color: $gray-800;
}

.alert-gray .alert-link:hover {
   color: $gray-900;
}

a.text-blue-on-light:hover {
   background-color: $blue-050;
   color: $blue-800 !important;
}

a.text-teal-on-light:hover {
   background-color: $teal-050;
   color: $teal-800 !important;
}

a.text-green-on-light:hover {
   background-color: $green-050;
   color: $green-800 !important;
}

a.text-yellow-on-light:hover {
   background-color: $yellow-050;
   color: $yellow-800 !important;
}

a.text-orange-on-light:hover {
   background-color: $orange-050;
   color: $orange-800 !important;
}

a.text-red-on-light:hover {
   background-color: $red-050;
   color: $red-800 !important;
}

a.text-purple-on-light:hover {
   background-color: $purple-050;
   color: $purple-800 !important;
}

a.text-gray-on-light:hover,
.alert-gray .alert-link:hover {
   background-color: $gray-050;
   color: $gray-800 !important;
}
